body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

/* PORTFOLIO */
.portfolio {
  padding: 63px 0;
  background-color: #2d303a;
}

.portfolio__title {
  margin-bottom: 21px;
  color: #666d89;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: -0.15px;
}

.portfolio__desc {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  letter-spacing: 0px;
}

.tags {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}


.tag {
  padding: 3px 7px 4px 7px;
  margin-right: 10px;
  background-color: #2d303a;
  color: #767e9e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.portfolio_tags .tag:first-child {
  letter-spacing: 0.4px;
}

.portfolio_tags .tag:nth-child(1) {
  letter-spacing: 0.2px;
  padding-right: 7px;
}

.portfolio_tags .tag:nth-child(2) {
  letter-spacing: 0.15px;
  padding-right: 5px;
  margin-left: -1px;
}

.portfolio_tags .tag:nth-child(3) {
  padding-left: 5px;
}

.tag_bordered {
  border: 1px solid #666d89;
}

.tag_selected,
.tag:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 600px;
  overflow: hidden;
}

.portfolio__item {
  display: flex;
  max-width: 220px;
  max-height: 187px;
  margin-bottom: 20px;
}

.portfolio__item >* {
  width: 100%;
  height: auto;
}